body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.slider-container {
    display: flex;
    align-items: center;
}

#slider-image {
    width: 500px; /* Adjust width as needed */
    height: auto;
}

.nav-button {
    font-size: 24px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #555;
}
